{
  "extends": ["stylelint-config-recommended-scss"],
  "rules": {
    "no-irregular-whitespace": true,
    "declaration-no-important": true,
    "color-hex-length": "short",
    "comment-no-empty": true,
    "selector-class-pattern": "^.[a-z]([a-z0-9-]+)?(__([a-z0-9]+-?)+)?(--([a-z0-9]+-?)+){0,2}$"
  }
}